<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/customize.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body id="LoginForm">
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Create account or login</h2>
                <p>Please enter your name and password (password: 1234)</p>
            </div>
            <form id="Login" action="/login" method="post">
                <div class="form-group">
                    <input type="text" name="userName" class="form-control" id="inputUserName" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
